<!-- <p>content-list works!</p> -->
<input [(ngModel)]="searchText">
<button (click)="search(searchText)">Submit</button>

<h3>forLoop with type='Exciting' passed to pipe</h3>
<div *ngFor="let item of (myContentArray | filterContent:'Exciting'); index as i">
    <app-content-card  [content]="item"></app-content-card>
</div>

<h3>forLoop with type='Boring' passed to pipe</h3>
<div *ngFor="let item of (myContentArray | filterContent:'Boring'); index as i">
    <app-content-card  [content]="item"></app-content-card>
</div>

<h3>forLoop with no type passed to pipe</h3>
<div *ngFor="let item of (myContentArray | filterContent); index as i">
    <app-content-card  [content]="item"></app-content-card>
</div>